@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme inline {
  --breakpoint-sm: 9999px;
  --breakpoint-md: 9999px;
  --breakpoint-lg: 9999px;
  --breakpoint-xl: 9999px;
  --breakpoint-2xl: 9999px;
}
